<div class="content" role="main">
  <span>{{ title }} app is running!</span>
</div>
<app-shyamsundarashok-hello-world></app-shyamsundarashok-hello-world>
<app-shyamsundarashok-hello-world-interpolation></app-shyamsundarashok-hello-world-interpolation>
<app-shyamsundarashok-hello-world-bindings></app-shyamsundarashok-hello-world-bindings>
<app-shyamsundarashok-hello-world-ngif></app-shyamsundarashok-hello-world-ngif>
<app-shyamsundarashok-hello-world-dependency-injection></app-shyamsundarashok-hello-world-dependency-injection>
